<%= form_for(@alarm) do |f| %>
  <% if @alarm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alarm.errors.count, "error") %> prohibited this alarm from being saved:</h2>

      <ul>
      <% @alarm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <%= f.label :time %>
      <%= f.time_field :time %>
    </p>
    <p>
      <%= f.label :message %>
      <%= f.text_area :message %>
    </p>
    <%= f.submit 'Update Alarm', class: 'btn btn-default' %>
    <%= link_to 'Quiet Alarm Bell', quiet_alarm_path(@alarm), remote: true, class: 'btn btn-primary' %>
  </div>
<% end %>
