<h1>Tasks</h1>

<hr>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Description</th>
      <th>Minutes</th>
      <th>Completed</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <%= form_for(task) do |f| %>
        <tr>
          <td><%= link_to task.description, edit_task_path(task) %></td>
          <td><%= task.minutes %></td>
          <td>
            <%= f.number_field :completed %>
            <%= f.submit %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
