<h1>Tasks</h1>

<hr>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Description</th>
      <th>Minutes</th>
      <th>Completed</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @tasks.each do |task| %>
        <td><%= link_to task.description, edit_task_path(task) %></td>
        <td><%= task.minutes %></td>
        <td>
          <%= form_for(task) do |f| %>
            <%= f.number_field :completed %>
            <%= f.submit 'Update Task', method: :update, class: 'btn btn-default' %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %>
